.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner style */

header {
  background-image: url(../assets/Hero-bg.png);
  width: 1440px;
}

.banner-profile {
  display: flex;
  justify-content: center;
}

nav {
  padding-top: 26px;
  padding-left: 221px;
  padding-right: 221px;
  padding-bottom: 44px;
}
.header {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #0d1321;
}
.descreption {
  text-align: center;
  font-size: 22px;
  color: #0d1321;
}
.button {
  display: block;
  margin: auto;
  background-color: #0d1321;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  border-radius: 5px;
}

/* main */
.hedding-edit {
  font-size: 32px;
  font-weight: 800;
}

.peragaph-1 {
  font-size: 16px;
  font-weight: normal;
}

.hedding-content {
  text-align: center;
  margin-top: 50px;
}

.feature-section-1 {
  display: flex;
}

.feature-section-2 {
  display: flex;
}

.feature-section-3 {
  display: flex;
}

.feature-content-1-h4-1 {
  font-size: 24px;
  font-weight: bold;
  color: #0d1321;
}

.feature-content-1-p-1 {
  font-size: 16px;
  font-weight: 400px;
  color: #0d1321;
  width: 458px;
  height: 52px;
}

.button-2 {
  background-color: white;
  padding: 10px 20px;
}

.feature-content-2-h4-2 {
  font-size: 24px;
  font-weight: bold;
  color: #0d1321;
}

.feature-content-2-p-2 {
  font-size: 16px;
  font-weight: 400px;
  width: 468px;
  height: 52px;
}

.feature-section-4-h4 {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}

.feature-section-4-p-1 {
  font-size: 16px;
  font-weight: 400;
}
.align-center {
  text-align: center;
}

.html-css-js {
  display: flex;
}
.heading-1 {
  text-align: center;
}
.heeding-bold {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}
.p-heeding {
  font-size: 16px;
  font-weight: 400;
  color: #0d1321;
}

.last-hiding {
  font-size: 24px;
  font-weight: 800;
  color: #0d1321;
}
.edit-p {
  font-size: 16px;
  font-weight: 400;
  color: #0d1321;
}

.backgraound-colour-1 {
  background-color: antiquewhite;
  padding: 40px;
}
.backgraound-colour-2 {
  background-color: lightblue;
  padding: 40px;
  margin-left: 20px;
}
.backgraound-colour-3 {
  background-color: darkgrey;
  padding: 40px;
  margin-left: 20px;
}

.button-edit {
  padding: 10px 20px;
}
.video-margin {
  margin-bottom: 100px;
  margin-top: 50px;
}

.feature-content-colour {
  background-color: aliceblue;
}

/* footer */

.footer-edits {
  display: flex;
  justify-content: center;
}
.footer-heeding {
  text-align: center;
  margin-top: 80px;
  color: white;
  margin-bottom: 150px;
  font-size: 32px;
}
.footer-bg {
  background-image: url(/assets/handshake.jpg);
}

.footer-background {
  background-image: url(/assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  padding: 116px 267px 147px 267px;
  background-repeat: no-repeat;
}

.footer-perageaph-edit {
  font-size: 16px;
}
.buttom-4 {
  margin-left: 20px;
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

.end-form {
  width: 700px;
  height: 45px;
  border-radius: 5px;
}
.icon-edit {
  display: flex;
  justify-content: space-between;
>

.icon-edits{
  
  }

  .descreption-end{
    font-size: 20px;
    font-weight: 600;
  }